 body{
      background-color: rgba(17, 17, 17, 1);
      color:white;
    }
    h3{
      color: #E6533C;
    }
    .nav-bar, .banner, .container-images{
      padding: 57px 190px;
    }

    .Home{
      background-color: #E6533C;
      border-radius:46px;
      width: 92px;
      height: 28px;
    }

    .banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /* .image img{
      border: 1px solid white;
      width: 200px;
      height: auto;
      display: flex;
      flex-direction: column;
    } */