 body{
      background-color: rgba(17, 17, 17, 1);
      color:white;
    }
    h3{
      color: #E6533C;
    }
    .nav-bar, .banner, .container-images{
      padding: 57px 190px;
    }

    .Home{
      background-color: #E6533C;
      border-radius:46px;
      width: 92px;
      height: 28px;
    }

    .banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /* .image img{
      border: 1px solid white;
      width: 200px;
      height: auto;
      display: flex;
      flex-direction: column;
    } */
     .run-container{
      padding: 40px 54px;
      margin: 50px 190px;
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
      border-radius: 18px;
      background:#222222;
      height: 371px;
      
     }

    .run-container img{
      width: auto;
      height: auto;
      border: none;
      border-radius: 18px;
    }